# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Ignore Python virtual environments
.venv/
venv/

# Ignore environment files
env
.env

# Optional: Ignore backup folders if you ever move them inside the repo
Dimension-backup/
backup/